extends layout

block content
  script(src="http://cdn.auth0.com/w2/auth0-6.7.js")

  h1= title
  p Welcome to #{title}
  br
  button(onclick="signinGoogle()") Login Google
  br
  br
  label Username
  input(id='username')
  br
  label Password
  input(id='password', type='password')
  br
  button(onclick="signinDb()") Login Db

  script.
    var auth0 = new Auth0({
        domain:      '#{env.AUTH0_DOMAIN}',
        clientID:    '#{env.AUTH0_CLIENT_ID}',
        callbackURL: '#{env.AUTH0_CALLBACK_URL}',
      });

    function signinGoogle() {
      auth0.signin({
        connection: 'google-oauth2',
      });
    }

    function signinDb() {
      auth0.signin({
        connection: 'Username-Password-Authentication',
        username: document.getElementById('username').value,
        password: document.getElementById('password').value,
      });
    }
